*{
    height: calc(100vh - 76.81px);
    padding: 0;
    margin: 0;
    font-family: PoppinsRegular;
    background-color: #e9e8e8;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    background-color: var(--light-blue);
    color: #fff;
    width: 13px;
}

*::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 0px;
}